<!DOCTYPE html>
<html ng-app="pluckk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pluckk</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="dvLoading"></div>

        <div id="wrapper" ng-cloak>
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" ng-controller="getMenu" ng-bind-html="menu | unsafe">

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger pull-left btn btn-success navbar-btn"></button>
                            <a class="navbar-brand" href="index.html">
                                <img class="logo" alt="Pluckk" src="images/logo.png">
                            </a>
                            <a href="cart.html" class="btn btn-sm btn-info pull-right navcart "><i class="glyphicon glyphicon-shopping-cart"></i> Cart <span class="badge">0</span></a>

                        </div>      

                    </div>
                </nav>

                <div class="container-fluid mt60">
                    <div class="row" id="pList" ng-controller="cartList">


                        <table class="table table-condensed" id="cartable">
                            <thead>
                                <tr class="f_size_large"> 
                                    <th>Product</th>
                                    <th class="t_align_c"> </th>
                                    <th class="t_align_c">Price</th>
                                    <th class="t_align_c">Quantity</th>
                                    <th class="t_align_r">Subtotal</th>
                                    <th class="t_align_c">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in cart" ng-if="product.name">
                                    <td>                                        
                                        <img ng-src="http://pluckk.com/public/admin/uploads/catalog/product/{{ product.options.image}}" class="img-thumbnail pull-left" width="100" alt="{{ product.name}}">
                                    </td>
                                    <td> 
                                        <strong>{{ product.name}}</strong>
                                    </td>
                                    <td  style="vertical-align: middle;">Rs {{ product.price}}</td>
                                    <td style="vertical-align: middle;">
                                        <input type="number" class="qty editquantity " min="1" value="1" prod-id="{{ product.rowid}}" product-id="{{ product.id}}" name="quantity{{ product.rowid}}">
                                    </td>
                                    <td style="vertical-align: middle;" ng-init="cart.Total = cart.Total + product.subtotal"><p class="f_size_large fw_medium scheme_color tmobalignc">Rs<span class="{{ product.rowid}}"> {{ product.subtotal}} </span></p></td>
                                    <td style="vertical-align: middle;"> 
                                        <a href="http://pluckk.com/cart/delete-cart?rowid={{ product.rowid}}"><i class="fa fa-trash-o fa-lg"></i> </a>
                                    </td>
                                </tr>

                                <tr>

                                    <td colspan="5"><p>Subtotal</p></td>
                                    <td colspan="1"><p> Rs. <span class="fwb grandTotal">{{ cart.Total}}</span></p></td>
                                </tr>

                                <tr>
                                    <td colspan="3" class="v_align_m d_ib_offset_large t_xs_align_l"><!--coupon--> 

                                        <input class="userCouponCode r_corners f_size_medium cartinput" required="required" placeholder="Enter Coupon Code" name="user_coupon_code" type="text"> 

                                        <button class="button_type_4 r_corners bg_light_color_2 m_left_5 mw_0 tr_all_hover color_dark" id="couponApply" type="button">Apply</button> <span class="col-xs-12"> <b>
                                                <p class="cMsg" style="display:none;color:red;font-size:13px;margin-top:15px"></p>
                                            </b></span>
                                    </td>
                                    <td colspan="2"><p class="  v_align_m">Coupon(s)</p></td>
                                    <td colspan="1"><p class=" ">Rs. <span class="fwb couponUsedAmount"> 0</span></p></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><p class=" ">Shipping Charges</p></td>
                                    <td colspan="1"><p class=" "> Rs. <span class="fwb shippingValue ">{{ cart.Total < 250 ? '30' : 0 }}</span></p></td>
                                </tr>
                                <!--total-->
                                <tr>
                                    <td colspan="5" class="v_align_m d_ib_offset_large t_xs_align_l"><p class=" t_align_r scheme_color p_xs_hr_0 d_ib_offset_normal d_xs_block w_xs_full t_xs_align_c">Total</p></td>
                                    <td colspan="1" class="v_align_m t_align_r tmobalignc"><p class=" scheme_color m_xs_bottom_10"> Rs. <span class="TotalCartAmt fwb">{{ cart.Total < 250 ? (cart.Total + 30) : cart.Total}}</span></p></td>
                                </tr>
                            </tbody>

                        </table>


                    </div>



                </div>

            </div>
        </div>


        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="js/myscripts.js"></script>
    </body>
</html>