<!DOCTYPE html>
<html ng-app="pluckk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pluckk</title>
       <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">

        <link rel="stylesheet" href="dist/style.css" />


        <link rel="stylesheet" href="dist/css/sidebar.css"/>

    </head>
    <body>
        <div id="dvLoading"></div>

        <div id="wrapper" ng-cloak>
              <div class="col-xs-10 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate">
                <ul class="sidebar-nav list collapsibleList" ng-controller="getMenu" id="accordion" ng-bind-html="menu | unsafe">

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle toggle-left" data-toggle="sidebar" data-target=".sidebar-left">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button> 
                            <a class="navbar-brand" href="index.html">
                                <img class="logo" alt="Pluckk" src="images/logo.png">
                            </a>
                        </div>      
                    </div>
                </nav>

                <div class="container-fluid mt30">
                    <div class="row" id="pList" ng-controller="cartList">

                        <div class="alert alert-success" role="alert" style="font-size: 11px;">
                            Minimum Order Amount for Delivery is <i class="fa fa-inr"></i>100! 
                        </div>
                        <div class="alert alert-success" role="alert" style="font-size: 11px;">
                            Shop for <i class="fa fa-inr"></i>250 or more for free Shipping <i class="fa fa-smile-o"></i> 
                        </div>

                        <table class="table table-condensed" style="background-color:#FFF;" id="cartable">
                            <thead>
                                <tr class="f_size_large"> 
                                    <th width="38%">Product</th>
                                
                                    <th class="t_align_c" width="10%">Price</th>
                                    <th class="t_align_c" width="42%">Quantity</th> 
                                    <th class="t_align_r" width="5%">Subtotal</th>
                                    <th class="t_align_c" width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in cart" ng-if="product.name">
                                    <td>  <strong>{{ product.name}}</strong></td>
                           
                                    <td  style="vertical-align: middle;"><i class="fa fa-inr"></i>{{ product.price}}</td>
                                    <td style="vertical-align: middle;" >
                                        <div class="col-xs-12 col-sm-12 col-md-12 input-group" style="padding-left:0px !important;">
                                            <div class="input-group-addon mQty input-sm">-</div>
                                            <input type="number" class="qty text-center editquantity quantity  center-block form-control qtyinput custom-qty input-sm" min="1" value="{{ product.qty}}" prod-id="{{ product.rowid}}" product-id="{{ product.id}}" name="quantity{{ product.rowid}}">
                                            <div class="input-group-addon pQty input-sm">+</div>                                                
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;" ng-init="cart.Total = cart.Total + product.subtotal"><i class="fa fa-inr"></i><span class="{{product.rowid}}">{{product.subtotal}}</span></td>
                                    <td style="vertical-align: middle; text-align: right;"> 
                                        <a class="deleteCart" href="cart/delete-cart?rowid={{product.rowid}}"><i class="fa fa-trash-o fa-lg"></i> </a>
                                    </td>
                                </tr>

                                <tr>

                                    <td colspan="3">Subtotal</td>
                                    <td colspan="3" style="text-align: right;"><i class="fa fa-inr"></i><span class="fwb grandTotal">{{cart.Total}}</span></td>
                                </tr>

                                <tr>
                                    <td colspan="3" ><!--coupon--> 

                                        <input class="userCouponCode form-control cartinput pull-left" required="required" style="width:150px; margin-right: 10px;" placeholder="Enter Coupon Code" name="user_coupon_code" type="text"> 

                                        <button class="btn-xs btn-info" id="couponApply" type="button">Apply</button> 
                                        <span class="col-xs-12 cMsg"  style="display:none;color:red;font-size:13px;margin-top:15px;"> 

                                        </span>
                                    </td>
                                    <td colspan="1">Coupon(s)</td>
                                    <td colspan="2"><i class="fa fa-inr"></i><span class="fwb couponUsedAmount"> 0</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3">Shipping Charges</td>
                                    <td colspan="3" style="text-align: right;"><i class="fa fa-inr"></i><span class="fwb shippingValue ">{{ cart.Total < 250 ? '30' : 0 }}</span></td>
                                </tr>
                                <!--total-->
                                <tr>
                                    <td colspan="3" >Total</td>
                                    <td colspan="3" class="v_align_m t_align_r tmobalignc" style="text-align: right;"><i class="fa fa-inr "></i><span class="TotalCartAmt fwb">{{ cart.Total < 250 ? (cart.Total + 30) : cart.Total}}</span></td>
                                </tr>

                                <tr>
                                    <td colspan="3" >
                                        <a href="index.html" class="btn-sm btn-warning pull-left">Continue Shopping</a>   
                                    </td>

                                    <td colspan="3" class="v_align_m t_align_r tmobalignc">
                                        <form id="chkoutForm" action="" method="post">
                                            <input type="hidden" name="pay_amt" class="orderAmt" value="{{ cart.Total}}" />
                                            <input type="hidden" name="shipping_amount_session" value="{{ cart.Total < 250 ? '30' : 0 }}" />
                                            <a href="javascript:void()" onclick="get_checkout();" class="btn-sm btn-success custom-checkout pull-right" >Checkout</a>
                                        </form> 
                                    </td>
                                </tr>



                            </tbody>

                        </table>


                    </div>



                </div>

            </div>
        </div>


        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="js/myscripts.js"></script>
        <script src="dist/js/sidebar.js"></script>
        <script>
                                                $(document).ready(function () {
                                                    $("body").on("click", ".pQty", function () {
                                                        $(this).siblings(".quantity").change();
                                                    });

                                                    $("body").on("click", ".mQty", function () {
                                                        $(this).siblings(".quantity").change();
                                                    });
                            
                                                });
        </script>
         <script type="text/javascript">
                             $(document).ready(function () {
                                $("body").on("click", "#accordion li.parent", function () {
                                     if (false == $(this).children("ul").is(':visible')) {
                                         $('#accordion ul').slideUp(300);
                                     }
                                     $(this).children("ul").slideToggle(300);
                                 });
                             });
        </script>
    </body>
</html>