<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.pluckk"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Pluckk</name>
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
 

    <description>
        Want it? Pluckk it! Your one stop shop for all your groceries need! 
    </description>

    <author href="http://www.infinisystems.com" email="">
        Infini Systems
    </author>
    <icon src="icon.png" />


    <gap:splash src="images/320x480.jpg" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="images/480x800.jpg" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="images/720x1280.jpg" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="images/1080x1920.jpg" gap:platform="android" gap:qualifier="xhdpi" />
</widget>