<!DOCTYPE html>
<html ng-app="pluckk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pluckk</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="dvLoading"></div>

        <div id="wrapper" ng-cloak >
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav" ng-controller="getMenu" ng-bind-html="menu | unsafe">

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger pull-left btn btn-success navbar-btn"></button>
                            <a class="navbar-brand" href="index.html">
                                <img class="logo" alt="Pluckk" src="images/logo.png">
                            </a>
                            <a href="cart.html" class="btn btn-sm btn-success pull-right navcart h30 "><i class="glyphicon glyphicon-shopping-cart"></i> Cart <span class="badge">0</span></a>

                        </div>      

                    </div>
                </nav> 
                <img src="images/banner.jpg" class="img-responsive center-block mt50" />

                <div class="container-fluid " ng-controller="homeList">
                    <div class="row col-md-12 mb20"  ng-repeat="cat in categories">
                        <div class="" >
                            <h2>{{ cat.name}}</h2>

                            <div class="owl-carousel col-xs-12 col-sm-12 col-md-12" >
                                <div class="item col-xs-6 col-sm-6 col-md-6" ng-repeat="product in cat.products"> 
                                    <div class="product-block">
                                    <form id="prdForm-{{ product.id}}" class="atcForm" method="POST"  >
                                        <input type="hidden" name="prod_id" value="{{ product.id}}" />
                                        <input type="hidden" name="prod_type" value="{{ product.prod_type}}" />
                                        <a href="product.html?id={{ product.id}}">
                                            <img ng-src="{{ product.image}}" class="img-responsive center-block img-thumbnail" />
                                            <h6 class="success text-center">{{ product.product}}</h6>
                                        </a>
                                        <p ng-bind-html="product.options | unsafe"></p>
                                        <p class="info text-center" ng-bind-html="product.price | unsafe">  </p>
                                        <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6">              
                                            <input type="text" name="quantity"  value="1" class="form-control" />
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6"> 
                                            <button form-id="prdForm-{{ product.id}}" form-action="{{ product.add | unsafe }}" class="addToCart btn btn-block btn-success">Add</button>
                                        </div> 
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                        
                    </div>

                  


                </div>
            </div>
        </div>

        <script src="phonegap.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src='js/angular-sanitize.min.js'></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/myscripts.js"></script>

    </body>
</html>